@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 0.85rem;
  }
  .page {
    @apply w-full max-w-[1170px] mx-auto;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .child0 {
    height: 43rem;
    background-color: #dedede;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
  }

  .child1 {
    height: 15rem;
    background-color: #dedede;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
  }
}
