@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 0.85rem;
  }
  .page {
    @apply w-full max-w-[1170px] mx-auto;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
